  <div class="company_social">
    <a href="javascript:void(0)" (click)="sharePage('https://twitter.com/share?=##link##',400,350);" class="fa fa-twitter"></a>
    <a href="javascript:void(0)" (click)="sharePage('https://www.facebook.com/sharer/sharer.php?u=##link##',400,350);" class="fa fa-facebook"></a>
    <a href="javascript:void(0)" (click)="sharePage('https://www.linkedin.com/shareArticle?mini=true&url=##link##',400,350);"
    class="fa fa-linkedin"></a>
    <a href="javascript:void(0)" (click)="sharePage('https://plus.google.com/share?url=##link##',400,350);" class="fa fa-google-plus"></a>
  </div>

