<div class="col md-12">
  <label>Price</label>
  <select id="price">
     <option value="500">Less than 500</option>
          <option value="400">Less than 400</option>
               <option value="200">Less than 500</option>
 </select>
  <label>Color</label>
  <select id="color">
            <option value="red">Red</option>
             <option value="blue">Blue</option>
               <option value="green">Green</option>


              </select>
  <button type="submit" id="submit">Search</button>
</div>